parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '/^Variable property access on \$this\(Gears\\EventSourcing\\Aggregate\\AbstractAggregateRoot\)\.$/'
      path: src/Aggregate/AbstractAggregateRoot.php
