parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - '/^Variable method call on \$this\(Gears\\EventSourcing\\Aggregate\\AbstractAggregateRoot\)\.$/'
    - '/^Variable method call on \$this\(Gears\\EventSourcing\\Projection\\AbstractProjector\)\.$/'
